<div style="text-align: center;">

<h2><%= t("devise.common.sign_up") %></h2><br /><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t("devise.form.first_name") %><br />
  <%= f.text_field :first_name %></div><br />

  <div><%= f.label t("devise.form.last_name") %><br />
  <%= f.text_field :last_name %></div><br />

  <div><%= f.label t("devise.form.email") %><br />
  <%= f.email_field :email, autofocus: true %></div><br />

  <div><%= f.label t("devise.form.password") %> <% if @validatable %><i>(<%= t("devise.form.password_min_char", :number => @minimum_password_length) %>)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div><br />

  <div><%= f.label t("devise.form.password_confirmation") %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />

  <div><%= f.submit t("devise.common.sign_up") %></div><br />
<% end %>

<%= render "devise/shared/links" %>

</div>
