<div class="page-header">
  <h1>Bienvenue dans BarTendr !</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'welcome/menu' %>
  </div>

  <div class="col-md-9">
    <h2>Utilité des QR codes</h2>

      <p>Les QR codes vous permettent de garantir que les clients sont dans le bar au moment où ils commandent, puisque les clients doivent flasher le QR code avec l'application BarTendr avant d'envoyer leur commande. Le QR code contient le numéro de la table, ce qui permet au système BarTendr de localiser automatiquement le client, et de transmettre cette information aux serveurs.</p>

    <h2>Générer les QR code</h2>

      <h3>Première option</h3>

        <%= form_tag "/qrcode/pdf", method: "get" do %>
          <p>Préciser le numéro de départ et le numéro d'arrivée.</p>

          <%= label_tag :number_from, "A partir de la table n° " %>
          <%= number_field_tag :number_from, nil, { min: 1 }  %>

          <%= label_tag :number_to, "jusqu'à la table n° " %>
          <%= number_field_tag :number_to %>

          <br /><br />
          <%= submit_tag "Générer les QR codes", { :class => "btn btn-primary" } %>
        <% end %>
        <br />

      <h3>Deuxième option</h3>

        <%= form_tag "/qrcode/pdf", method: "get" do %>
          <p>Préciser une suite de numéros, séparés par des virgules.</p>

          <%= label_tag :numbers, "Numéros: " %>
          <%= text_field_tag :numbers %>

          <br /><br />
          <%= submit_tag "Générer les QR codes", { :class => "btn btn-primary" } %>
        <% end %>
  </div>
</div>

