<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

  <% if @article.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <%= f.label :nom, :class => 'control-label' %>
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-m-6 col-xs-offset-1 col-sm-offset-1">
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
      </div> 
    </div>
    <%= error_span(@article[:name]) %>
  </div>

  <div class="control-group">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <%= f.label :catégorie, :class => 'control-label' %>
      </div>
    </div> 
    <div class="controls">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-m-6 col-xs-offset-1 col-sm-offset-1">
          <%= collection_select(:article, :category_id, Category.all, :id, :name) %>
        </div>
      </div> 
    </div>
    <%= error_span(@article[:category_id]) %>
  </div>

  <div class="control-group">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <%= f.label :description, :class => 'control-label' %>
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-m-6 col-xs-offset-1 col-sm-offset-1">
          <%= f.text_area :description, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <%= error_span(@article[:description]) %>
  </div>

  <div class="control-group">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <%= f.label "prix (€)", :class => 'control-label' %>
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-m-6 col-xs-offset-1 col-sm-offset-1">
          <%= f.text_field :price, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <%= error_span(@article[:price]) %>
  </div>

  <div class="control-group">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <%= f.label :disponibilité, :class => 'control-label' %>
      </div>
    </div>
    <div class="controls">
      <div class="row">
        <div class="col-xs-1 col-xs-offset-1 col-sm-offset-1">
          <%= f.check_box :availability, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <%= error_span(@article[:availability]) %>
  </div>

  <br />

  <div class="control-group">
    <div class="row">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            articles_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>

<% end %>
