<%- model_class = Article -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <% if @categories.size == 0 %>
    <div class="col-md-12 alert alert-info" role="alert">
      <p><%= t("bartendr.info_articles_index_if_no_category") %></p>
    </div>
  <% end %>
  <div class="col-md-10">
    <% @categories.each do |category| %>
      <% if category.article.length > 0 %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= category.name %></strong>
          </div>
          <table class="table">
            <tbody>
              <% category.article.order('lower(name) ASC').each do |article| %>
                <tr>
                  <td class="col-md-2"><%= link_to article.name, article_url(article) %></td>
                  <td class="col-md-5"><%= article.description %></td>
                  <td class="col-md-1"><%= number_to_currency(article.price, :locale => :fr) %></td>
                  <td class="col-md-2">
                    <%= form_for article, method: :patch, remote: true do |f| %>
                      <%= f.check_box :availability, :class => 'bootstrap-toggle submit-toggle',
                        "data-toggle" => :toggle, "data-size" => :mini, "data-onstyle" => :success,
                        "data-offstyle" => :warning, "data-on" => :dispo, "data-off" => :rupture, autocomplete: :off %>
                    <% end %>
                  </td>
                  <% if can? :update, Article or can? :destroy, Article %>
                    <td class="col-md-2">
                      <% if can? :update, Article %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                  edit_article_path(article), :class => 'btn btn-default btn-xs' %>
                      <% end %>
                      <% if can? :destroy, Article %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                  article_path(article),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Etes-vous sûr ?')) },
                                  :class => 'btn btn-xs btn-danger' %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
    <% if can? :create, Article %>
      <%= link_to t('.new', :default => t("helpers.links.new_article")),
                new_article_path,
                :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Catégories</strong>
      </div>
      <table class="table">
        <tbody>
          <% for category in @categories %>
            <tr><td><%= link_to category.name, category_url(category) %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if can? :create, Category %>
      <%= link_to t('.new', :default => t("helpers.links.new_category")),
                new_category_path,
                :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>


