<%- model_class = Article -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:nom) %></th>
          <th><%= model_class.human_attribute_name(:catégorie) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th><%= model_class.human_attribute_name(:prix) %></th>
          <th><div title="Disponibilité"><%= model_class.human_attribute_name(:dispo) %></div></th>
          <% if can? :update, Article or can? :destroy, Article %>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.id, article_path(article) %></td>
            <td><%= article.name %></td>
            <td><%= article.category.name %></td>
            <td><%= article.description %></td>
            <td><%= number_to_currency(article.price, :locale => :fr) %></td>
            <td>
              <% if article.availability == true %>
                <font color="green"> ✔ </font>
              <% else %>
                <font color="red"> ✘ </font>
              <% end %>
            </td>
            <% if can? :update, Article or can? :destroy, Article %>
              <td>
                <% if can? :update, Article %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_article_path(article), :class => 'btn btn-default btn-xs' %>
                <% end %>
                <% if can? :destroy, Article %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            article_path(article),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Etes-vous sûr ?')) },
                            :class => 'btn btn-xs btn-danger' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if can? :create, Article %>
      <%= link_to t('.new', :default => t("helpers.links.new_article")),
                new_article_path,
                :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr><th>Catégories</th></tr>
        </thead>
        <tbody>
          <% for category in @categories %>
            <tr><td><%= category.name %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if can? :create, Category %>
      <%= link_to t('.new', :default => t("helpers.links.new_category")),
                new_category_path,
                :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>


