<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nom) %>:</strong></dt>
  <dd><%= @article.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:catégorie) %>:</strong></dt>
  <dd><%= @article.category %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @article.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:prix) %>:</strong></dt>
  <dd><%= number_to_currency(@article.price, :locale => :fr) %></dd>

  <dt><strong><%= model_class.human_attribute_name(:disponibilité) %>:</strong></dt>
  <dd>
    <% if @article.availability == true %>
      <font color="green"> ✔ </font>
    <% else %>
      <font color="red"> ✘ </font>
    <% end %>
  </dd>
</dl>


<%= link_to t('.back', :default => t("helpers.links.back")),
              articles_path, :class => 'btn btn-default'  %>

<% if can? :update, Article %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_article_path(@article), :class => 'btn btn-default' %>
<% end %>

<% if can? :destroy, Article %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              article_path(@article),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Etes-vous sûr ?')) },
              :class => 'btn btn-danger' %>
<% end %>

