<!DOCTYPE html>
<html>
	<head>
		<title>BarTendr</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'navbar' %>
		<%= stylesheet_link_tag    'custom' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	</head>


	<body>

		<div id='navbar'>
			<div>
				BarTendr
			</div>
			<ul>
				<% if user_signed_in? %>
					<li><a href='/'>Accueil</a></li>
					<li><%= link_to "Commandes", orders_path %></li>
					<li><%= link_to "Articles", articles_path %></li>
					<li><%= current_user.email %></li>
					<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
				<% else %>
					<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
				<% end %>
			</ul>
		</div>

		<div class="container">
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>
			</div>
		</div>

		<!-- debug features -->
		<!--<p class="notice"><%= notice %></p>-->
		<p class="alert"><%= alert %></p>
		<!-- to display a popup in case something went wrong -->

	</body>

</html>
