<!DOCTYPE html>
<html>
	<head>
		<title>BarTendr</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'navbar' %>
		<%= stylesheet_link_tag    'custom' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= yield :head %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>


	<body>

		<div id='navbar'>
			<div>
				BarTendr
			</div>
			<ul>
				<li><a href='/'>Accueil</a></li>
				<li><%= link_to "Articles", :controller => :articles, :action => :index %></li>
				<li><%= link_to "Commandes", :controller => :orders, :action => :index %></li>
			</ul>
		</div>

		<div class="container">
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>
			</div>
		</div>

		<!-- debug features -->
		<!--<p class="notice"><%= notice %></p>-->
		<p class="alert"><%= alert %></p>
		<!-- to display a popup in case something went wrong -->

	</body>
</html>
